*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html{
    font-family: Lato, sans-serif;
    line-height: 1.5;
}

#container{
      display: grid;
     grid-template-columns: 280px 1fr;
     gap: 10px;
     margin-right: 3rem;
    text-align: justify;
}

/* NAVBAR */

nav{
     overflow-y: auto;
     border-right: 1px solid #ccc;
     padding: 10px;
}

h1{
    padding-left:1.5rem;
    padding-bottom: 1rem;
    margin-top: 1rem;;
    font-weight: 400;
    font-size: 1.5rem;
    border-bottom: 1px solid gray;
}

p{
    margin-bottom: 1rem;;
}

nav li{
    list-style-type: none;
    border-bottom: 1px solid gray;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
}

 a{
    text-decoration: none;
}

/* MAIN */

#main-doc li{
    margin-left: 4rem;
    margin-bottom: 1rem;
}

#main-doc{
    margin-top: 2rem;
}

#main-doc header{
    margin-bottom:1.5rem;
}

.main-section{
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.main-section header{
    font-weight:700;
    font-size: 1.2rem;
}

code{
    background-color:ghostwhite;
    display: block;
    padding: 1rem;
    width: 100%;
}

@media only screen and (max-width: 680px){

#container{
    display: flex;
    flex-direction: column;
}
nav{
    border: none;
    text-align: center;
}

}